In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [2]:
file_one = "../../Downloads/Archive/SmokingAndTobaccoData2018.csv"

file_one_df = pd.read_csv(file_one)

In [3]:
file_one_df

,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,HealyWarningsOnSmoking,CheapestBrandCigaretteCurrency,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,PremiumBrandCigarettePrice,TreatmentInHealthFacilities,BanOnEducationalFacilites,BanOnGovernmentFacilites,BanOnHealthcareFacilites,BanOnIndoorOffices,BanOnPublicTransport,BanOnPubsAndBars,BanOnRestaurants,BanOnUniversities,RegulationsOnSmokeFreeEnvironments
0,Albania,43.3 [31.2 – 59.2],50.5 [34.8 – 67.2],50.5 [34.8 – 67.2],No,200,All,240,320,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Algeria,11.1 [5.9 – 16.4],14.5 [10.3 – 19.5],18.8 [11.3 – 27.2],No,45,DZD,300,300,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,19.2 [13.9 – 24.3],21.1 [15.4 – 27.5],21.8 [15.3 – 29.1],Yes,28.57,ARS,60,63,Yes in most,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Armenia,25 [19.6 – 30.3],26.7 [21.8 – 31.7],26.7 [21.8 – 31.7],Not applicable,300,AMD,680,700,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Uzbekistan,10.1 [5.9 – 15],12.3 [8.1 – 17.4],12.3 [8.1 – 17.4],No,"3,500",UZS,"6,000","8,500",Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Vanuatu,2.4 [1.1 – 3.8],20.1 [12.1 – 28.9],3.3 [1.7 – 4.9],Not applicable,610,VUV,735,740,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,Yemen,20.7 [8.1 – 35.2],26.9 [14 – 44.3],32.5 [17.1 – 53.7],Yes,200,YER,550,700,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Zambia,11.5 [8.7 – 14.3],24.1 [19.1 – 29.8],25 [19.8 – 30.9],No,4,ZMW,17.5,35,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Zimbabwe,11.1 [8.2 – 14.8],13.9 [9.2 – 18.5],13.9 [9.2 – 18.5],No,0.9,USD,1.75,2.5,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
file_two = "../../Downloads/Archive/SmokingAndTobaccoData2016.csv"

file_two_df = pd.read_csv(file_two)

In [5]:
file_three = "../../Downloads/Archive/SmokingAndTobaccoData2014.csv"

file_three_df = pd.read_csv(file_three)

In [6]:
file_four = "../../Downloads/Archive/SmokingAndTobaccoData2012.csv"

file_four_df = pd.read_csv(file_four)

In [7]:
file_five = "../../Downloads/Archive/SmokingAndTobaccoData2010.csv"

file_five_df = pd.read_csv(file_five)

In [8]:
file_six = "../../Downloads/Archive/SmokingAndTobaccoData2008.csv"

file_six_df = pd.read_csv(file_six)

In [9]:
currency_df = file_one_df["MostSoldBrandCigaretteCurrency"]
currency_list = currency_df.values.tolist()
currency_list2 = []
for x in currency_list:
    if (x == 'Data not available'):
        currency_list.remove(x)
    elif (x == 'Not applicable'):
        currency_list.remove(x)
    else:
        currency_list2.append(x)
currency_list2

['All',
 'DZD',
 'EUR',
 'ARS',
 'AMD',
 'AUD',
 'EUR',
 'AZN',
 'BDT',
 'BBD',
 'BYN',
 'EUR',
 'XOF',
 'BAM',
 'BWP',
 'BRL',
 'XOF',
 'BIF',
 'KHR',
 'XAF',
 'CAD',
 'XAF',
 'CLP',
 'CNY',
 'COP',
 'KMF',
 'XAF',
 'NZD',
 'CRC',
 'HRK',
 'CUP',
 'EUR',
 'CZK',
 'XOF',
 'KPW',
 'DKK',
 'DOP',
 'EGP',
 'USD',
 'ERN',
 'EUR',
 'SZL',
 'ETB',
 'FJD',
 'EUR',
 'EUR',
 'GMD',
 'GEL',
 'EUR',
 'GHS',
 'EUR',
 'GYD',
 'ISK',
 'INR',
 'IDR',
 'IRR',
 'IQD',
 'EUR',
 'ILS',
 'EUR',
 'JMD',
 'JPY',
 'KZT',
 'KES',
 'AUD',
 'KWD',
 'KGS',
 'LAK',
 'EUR',
 'LBP',
 'LSL',
 'LRD',
 'EUR',
 'EUR',
 'MGA',
 'XOF',
 'EUR',
 'MUR',
 'MXN',
 'MNT',
 'MAD',
 'MZN',
 'MMK',
 'NAD',
 'AUD',
 'NPR',
 'EUR',
 'NZD',
 'XOF',
 'NGN',
 'NOK',
 'OMR',
 'PKR',
 'USD',
 'PAB',
 'PYG',
 'PEN',
 'PHP',
 'PLN',
 'EUR',
 'QAR',
 'KRW',
 'MDL',
 'RON',
 'RUB',
 'RWF',
 'WST',
 'STN',
 'SAR',
 'XOF',
 'RSD',
 'SCR',
 'SLL',
 'SGD',
 'EUR',
 'EUR',
 'SBD',
 'ZAR',
 'EUR',
 'LKR',
 'SEK',
 'CHF',
 'THB',
 'USD',
 'XOF',
 'TOP',
 'TND',
 'TRY',
 'AUD',
 'UGX',
 'UAH',
 'AED',
 'GBP',
 'TZS',
 'USD',
 'UYU',
 'UZS',
 'VUV',
 'YER',
 'ZMW',
 'USD']

In [10]:
api_key = 'access_key=f9f91baccc004718c6bd3b4471a4f872'
url_start = 'http://data.fixer.io/api/latest?'
base='&base=USD'

In [17]:
count=0
rates=[]
for currency in currency_list2:
    # print count to keep track of row
    print(f"Processing {count} of {len(currency_list2)} : {currency}")
    
    # use try statement in case the city does not work in url
    try:
        #get url for each city
        url = f"https://api.exchangerate.host/convert?from={currency}&to=USD"
        api_response = requests.get(url)
        currency_json = api_response.json()
        rates.append(currency_json["info"]["rate"])
    #if error occurs, skip city
    except KeyError:
        print("City not found. Continuing ...")
        rates.append(0)
    
    #add to count to keep track of row
    count=count+1

# final print   
print("-----------------------------------")
print("Data Retrieval Complete")

Processing 0 of 141 : All
Processing 1 of 141 : DZD
Processing 2 of 141 : EUR
Processing 3 of 141 : ARS
Processing 4 of 141 : AMD
Processing 5 of 141 : AUD
Processing 6 of 141 : EUR
Processing 7 of 141 : AZN
Processing 8 of 141 : BDT
Processing 9 of 141 : BBD
Processing 10 of 141 : BYN
Processing 11 of 141 : EUR
Processing 12 of 141 : XOF
Processing 13 of 141 : BAM
Processing 14 of 141 : BWP
Processing 15 of 141 : BRL
Processing 16 of 141 : XOF
Processing 17 of 141 : BIF
Processing 18 of 141 : KHR
Processing 19 of 141 : XAF
Processing 20 of 141 : CAD
Processing 21 of 141 : XAF
Processing 22 of 141 : CLP
Processing 23 of 141 : CNY
Processing 24 of 141 : COP
Processing 25 of 141 : KMF
Processing 26 of 141 : XAF
Processing 27 of 141 : NZD
Processing 28 of 141 : CRC
Processing 29 of 141 : HRK
Processing 30 of 141 : CUP
Processing 31 of 141 : EUR
Processing 32 of 141 : CZK
Processing 33 of 141 : XOF
Processing 34 of 141 : KPW
Processing 35 of 141 : DKK
Processing 36 of 141 : DOP
Processing 37 of 141 : EGP
Processing 38 of 141 : USD
Processing 39 of 141 : ERN
Processing 40 of 141 : EUR
Processing 41 of 141 : SZL
Processing 42 of 141 : ETB
Processing 43 of 141 : FJD
Processing 44 of 141 : EUR
Processing 45 of 141 : EUR
Processing 46 of 141 : GMD
Processing 47 of 141 : GEL
Processing 48 of 141 : EUR
Processing 49 of 141 : GHS
Processing 50 of 141 : EUR
Processing 51 of 141 : GYD
Processing 52 of 141 : ISK
Processing 53 of 141 : INR
Processing 54 of 141 : IDR
Processing 55 of 141 : IRR
Processing 56 of 141 : IQD
Processing 57 of 141 : EUR
Processing 58 of 141 : ILS
Processing 59 of 141 : EUR
Processing 60 of 141 : JMD
Processing 61 of 141 : JPY
Processing 62 of 141 : KZT
Processing 63 of 141 : KES
Processing 64 of 141 : AUD
Processing 65 of 141 : KWD
Processing 66 of 141 : KGS
Processing 67 of 141 : LAK
Processing 68 of 141 : EUR
Processing 69 of 141 : LBP
Processing 70 of 141 : LSL
Processing 71 of 141 : LRD
Processing 72 of 141 : EUR
Processing 73 of 141 : EUR
Processing 74 of 141 : MGA
Processing 75 of 141 : XOF
Processing 76 of 141 : EUR
Processing 77 of 141 : MUR
Processing 78 of 141 : MXN
Processing 79 of 141 : MNT
Processing 80 of 141 : MAD
Processing 81 of 141 : MZN
Processing 82 of 141 : MMK
Processing 83 of 141 : NAD
Processing 84 of 141 : AUD
Processing 85 of 141 : NPR
Processing 86 of 141 : EUR
Processing 87 of 141 : NZD
Processing 88 of 141 : XOF
Processing 89 of 141 : NGN
Processing 90 of 141 : NOK
Processing 91 of 141 : OMR
Processing 92 of 141 : PKR
Processing 93 of 141 : USD
Processing 94 of 141 : PAB
Processing 95 of 141 : PYG
Processing 96 of 141 : PEN
Processing 97 of 141 : PHP
Processing 98 of 141 : PLN
Processing 99 of 141 : EUR
Processing 100 of 141 : QAR
Processing 101 of 141 : KRW
Processing 102 of 141 : MDL
Processing 103 of 141 : RON
Processing 104 of 141 : RUB
Processing 105 of 141 : RWF
Processing 106 of 141 : WST
Processing 107 of 141 : STN
Processing 108 of 141 : SAR
Processing 109 of 141 : XOF
Processing 110 of 141 : RSD
Processing 111 of 141 : SCR
Processing 112 of 141 : SLL
Processing 113 of 141 : SGD
Processing 114 of 141 : EUR
Processing 115 of 141 : EUR
Processing 116 of 141 : SBD
City not found. Continuing ...
Processing 117 of 141 : ZAR
City not found. Continuing ...
Processing 118 of 141 : EUR
Processing 119 of 141 : LKR
City not found. Continuing ...
Processing 120 of 141 : SEK
City not found. Continuing ...
Processing 121 of 141 : CHF
City not found. Continuing ...
Processing 122 of 141 : THB
City not found. Continuing ...
Processing 123 of 141 : USD
Processing 124 of 141 : XOF
Processing 125 of 141 : TOP
City not found. Continuing ...
Processing 126 of 141 : TND
City not found. Continuing ...
Processing 127 of 141 : TRY
City not found. Continuing ...
Processing 128 of 141 : AUD
Processing 129 of 141 : UGX
City not found. Continuing ...
Processing 130 of 141 : UAH
City not found. Continuing ...
Processing 131 of 141 : AED
City not found. Continuing ...
Processing 132 of 141 : GBP
City not found. Continuing ...
Processing 133 of 141 : TZS
City not found. Continuing ...
Processing 134 of 141 : USD
Processing 135 of 141 : UYU
City not found. Continuing ...
Processing 136 of 141 : UZS
City not found. Continuing ...
Processing 137 of 141 : VUV
City not found. Continuing ...
Processing 138 of 141 : YER
City not found. Continuing ...
Processing 139 of 141 : ZMW
City not found. Continuing ...
Processing 140 of 141 : USD
-----------------------------------
Data Retrieval Complete

In [18]:
rates

[0.00961,
 0.00733,
 1.168889,
 0.010153,
 0.002035,
 0.724257,
 1.168889,
 0.588322,
 0.011682,
 0.500221,
 0.401164,
 1.168889,
 0.001782,
 0.597667,
 0.088446,
 0.184339,
 0.001782,
 0.000503,
 0.000244,
 0.001782,
 0.78862,
 0.001782,
 0.001248,
 0.154878,
 0.00026,
 0.002373,
 0.001782,
 0.696079,
 0.001599,
 0.155857,
 0.038857,
 1.168889,
 0.045853,
 0.001782,
 0.001112,
 0.157227,
 0.017748,
 0.06371,
 1,
 0.066693,
 1.168889,
 0.066486,
 0.0216,
 0.476915,
 1.168889,
 1.168889,
 0.019428,
 0.321734,
 1.168889,
 0.165981,
 1.168889,
 0.004788,
 0.0078,
 0.013485,
 7e-05,
 2.4e-05,
 0.000685,
 1.168889,
 0.311685,
 1.168889,
 0.006768,
 0.00897,
 0.002355,
 0.009055,
 0.724257,
 3.319902,
 0.011799,
 0.000101,
 1.168889,
 0.000659,
 0.066232,
 0.00585,
 1.168889,
 1.168889,
 0.000252,
 0.001782,
 1.168889,
 0.023443,
 0.049186,
 0.000352,
 0.110998,
 0.015681,
 0.000535,
 0.066971,
 0.724257,
 0.008448,
 1.168889,
 0.696079,
 0.001782,
 0.002436,
 0.115529,
 2.593841,
 0.005879,
 1,
 0.999784,
 0.000146,
 0.24239,
 0.019612,
 0.252176,
 1.168889,
 0.276283,
 0.000842,
 0.056758,
 0.236175,
 0.013731,
 0.000992,
 0.390717,
 0.046975,
 0.266681,
 0.001782,
 0.009941,
 0.075113,
 9.5e-05,
 0.73699,
 1.168889,
 1.168889,
 0,
 0,
 1.168889,
 0,
 0,
 0,
 0,
 1,
 0.001782,
 0,
 0,
 0,
 0.724257,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1]

In [16]:
len(currency_list)

145

In [19]:
rates_df=pd.DataFrame({"MostSoldBrandCigaretteCurrency":currency_list2,"rates":rates})
rates_df

    MostSoldBrandCigaretteCurrency     rates
0                              All  0.009610
1                              DZD  0.007330
2                              EUR  1.168889
3                              ARS  0.010153
4                              AMD  0.002035
..                             ...       ...
136                            UZS  0.000000
137                            VUV  0.000000
138                            YER  0.000000
139                            ZMW  0.000000
140                            USD  1.000000

[141 rows x 2 columns]

In [21]:
rates_df=rates_df[rates_df["rates"]!=0]

rates_df

    MostSoldBrandCigaretteCurrency     rates
0                              All  0.009610
1                              DZD  0.007330
2                              EUR  1.168889
3                              ARS  0.010153
4                              AMD  0.002035
..                             ...       ...
123                            USD  1.000000
124                            XOF  0.001782
128                            AUD  0.724257
134                            USD  1.000000
140                            USD  1.000000

[122 rows x 2 columns]

In [22]:
merged_df=pd.merge(file_one_df,rates_df,on="MostSoldBrandCigaretteCurrency")
merged_df

,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,HealyWarningsOnSmoking,CheapestBrandCigaretteCurrency,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,PremiumBrandCigarettePrice,TreatmentInHealthFacilities,BanOnEducationalFacilites,BanOnGovernmentFacilites,BanOnHealthcareFacilites,BanOnIndoorOffices,BanOnPublicTransport,BanOnPubsAndBars,BanOnRestaurants,BanOnUniversities,RegulationsOnSmokeFreeEnvironments,rates
0,Albania,43.3 [31.2 – 59.2],50.5 [34.8 – 67.2],50.5 [34.8 – 67.2],No,200,All,240,320,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009610
1,Algeria,11.1 [5.9 – 16.4],14.5 [10.3 – 19.5],18.8 [11.3 – 27.2],No,45,DZD,300,300,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007330
2,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
3,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
4,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,Saudi Arabia,18.6 [11.4 – 27.6],12.7 [8.7 – 17.4],2 [1 – 3.4],Not applicable,6,SAR,27.5,27.5,Yes in most,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266681
580,Serbia,36.2 [27.2 – 45.5],40.6 [31.3 – 50.1],40.6 [31.3 – 50.1],Not applicable,210,RSD,250,330,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009941
581,Seychelles,31 [21.6 – 40.7],35.3 [25 – 45.8],35.3 [25 – 45.8],Yes,117,SCR,117,140,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075113
582,Sierra Leone,29.1 [20.6 – 39],31 [23.4 – 39.9],31 [23.4 – 39.9],Not applicable,"2,000",SLL,"5,000","10,000",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000095
583,Singapore,25 [17.6 – 32.3],27.8 [19.5 – 35.3],27.8 [19.5 – 35.3],Not applicable,10.5,SGD,14.1,14.1,Yes in most,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.736990

In [23]:
merged_df = merged_df[merged_df['CheapestBrandCigaretteCurrency'] != 'Data not available']
merged_df = merged_df[merged_df['CheapestBrandCigaretteCurrency'] != 'Not applicable']
merged_df['CheapestBrandCigaretteCurrency'] = merged_df['CheapestBrandCigaretteCurrency'].replace(',', '')

merged_df = merged_df[merged_df['MostSoldBrandCigarettePrice'] != 'Data not available']
merged_df = merged_df[merged_df['MostSoldBrandCigarettePrice'] != 'Not applicable']
merged_df['MostSoldBrandCigarettePrice'] = merged_df['MostSoldBrandCigarettePrice'].replace(',', '')

merged_df = merged_df[merged_df['PremiumBrandCigarettePrice'] != 'Data not available']
merged_df = merged_df[merged_df['PremiumBrandCigarettePrice'] != 'Not applicable']
merged_df['PremiumBrandCigarettePrice'] = merged_df['PremiumBrandCigarettePrice'].replace(',', '')

merged_df

,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,HealyWarningsOnSmoking,CheapestBrandCigaretteCurrency,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,PremiumBrandCigarettePrice,TreatmentInHealthFacilities,BanOnEducationalFacilites,BanOnGovernmentFacilites,BanOnHealthcareFacilites,BanOnIndoorOffices,BanOnPublicTransport,BanOnPubsAndBars,BanOnRestaurants,BanOnUniversities,RegulationsOnSmokeFreeEnvironments,rates
0,Albania,43.3 [31.2 – 59.2],50.5 [34.8 – 67.2],50.5 [34.8 – 67.2],No,200,All,240,320,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009610
1,Algeria,11.1 [5.9 – 16.4],14.5 [10.3 – 19.5],18.8 [11.3 – 27.2],No,45,DZD,300,300,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007330
2,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
3,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
4,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,Saudi Arabia,18.6 [11.4 – 27.6],12.7 [8.7 – 17.4],2 [1 – 3.4],Not applicable,6,SAR,27.5,27.5,Yes in most,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266681
580,Serbia,36.2 [27.2 – 45.5],40.6 [31.3 – 50.1],40.6 [31.3 – 50.1],Not applicable,210,RSD,250,330,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009941
581,Seychelles,31 [21.6 – 40.7],35.3 [25 – 45.8],35.3 [25 – 45.8],Yes,117,SCR,117,140,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075113
582,Sierra Leone,29.1 [20.6 – 39],31 [23.4 – 39.9],31 [23.4 – 39.9],Not applicable,"2,000",SLL,"5,000","10,000",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000095
583,Singapore,25 [17.6 – 32.3],27.8 [19.5 – 35.3],27.8 [19.5 – 35.3],Not applicable,10.5,SGD,14.1,14.1,Yes in most,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.736990

In [24]:
merged_df = merged_df.replace(",","", regex=True)
merged_df

,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,HealyWarningsOnSmoking,CheapestBrandCigaretteCurrency,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,PremiumBrandCigarettePrice,TreatmentInHealthFacilities,BanOnEducationalFacilites,BanOnGovernmentFacilites,BanOnHealthcareFacilites,BanOnIndoorOffices,BanOnPublicTransport,BanOnPubsAndBars,BanOnRestaurants,BanOnUniversities,RegulationsOnSmokeFreeEnvironments,rates
0,Albania,43.3 [31.2 – 59.2],50.5 [34.8 – 67.2],50.5 [34.8 – 67.2],No,200,All,240,320,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009610
1,Algeria,11.1 [5.9 – 16.4],14.5 [10.3 – 19.5],18.8 [11.3 – 27.2],No,45,DZD,300,300,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.007330
2,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
3,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
4,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,Saudi Arabia,18.6 [11.4 – 27.6],12.7 [8.7 – 17.4],2 [1 – 3.4],Not applicable,6,SAR,27.5,27.5,Yes in most,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266681
580,Serbia,36.2 [27.2 – 45.5],40.6 [31.3 – 50.1],40.6 [31.3 – 50.1],Not applicable,210,RSD,250,330,Yes in some,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009941
581,Seychelles,31 [21.6 – 40.7],35.3 [25 – 45.8],35.3 [25 – 45.8],Yes,117,SCR,117,140,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075113
582,Sierra Leone,29.1 [20.6 – 39],31 [23.4 – 39.9],31 [23.4 – 39.9],Not applicable,2000,SLL,5000,10000,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000095
583,Singapore,25 [17.6 – 32.3],27.8 [19.5 – 35.3],27.8 [19.5 – 35.3],Not applicable,10.5,SGD,14.1,14.1,Yes in most,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.736990

In [25]:

merged_df["CheapestBrandCigaretteCurrency"] = merged_df["CheapestBrandCigaretteCurrency"].astype(float)
merged_df["MostSoldBrandCigarettePrice"] = merged_df["MostSoldBrandCigarettePrice"].astype(float)
merged_df["PremiumBrandCigarettePrice"] = merged_df["PremiumBrandCigarettePrice"].astype(float)

merged_df.dtypes

Location                               object
CigaretteSmokingPrevalence             object
TobaccoSmokingPrevalence               object
TobaccoUsePrevalance                   object
HealyWarningsOnSmoking                 object
CheapestBrandCigaretteCurrency        float64
MostSoldBrandCigaretteCurrency         object
MostSoldBrandCigarettePrice           float64
PremiumBrandCigarettePrice            float64
TreatmentInHealthFacilities            object
BanOnEducationalFacilites             float64
BanOnGovernmentFacilites              float64
BanOnHealthcareFacilites              float64
BanOnIndoorOffices                    float64
BanOnPublicTransport                  float64
BanOnPubsAndBars                      float64
BanOnRestaurants                      float64
BanOnUniversities                     float64
RegulationsOnSmokeFreeEnvironments    float64
rates                                 float64
dtype: object

In [26]:
merged_df["CheapestPriceUSD"]=merged_df["CheapestBrandCigaretteCurrency"]*merged_df["rates"]
merged_df["MostSoldUSD"]=merged_df["MostSoldBrandCigarettePrice"]*merged_df["rates"]
merged_df["PremiumUSD"]=merged_df["PremiumBrandCigarettePrice"]*merged_df["rates"]
merged_df=merged_df.drop_duplicates(subset=["Location"])
merged_df.reset_index()
merged_df["Year"]=2018
merged_df

/Users/ashtonsmith/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,HealyWarningsOnSmoking,CheapestBrandCigaretteCurrency,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,PremiumBrandCigarettePrice,TreatmentInHealthFacilities,...,BanOnPublicTransport,BanOnPubsAndBars,BanOnRestaurants,BanOnUniversities,RegulationsOnSmokeFreeEnvironments,rates,CheapestPriceUSD,MostSoldUSD,PremiumUSD,Year
0,Albania,43.3 [31.2 – 59.2],50.5 [34.8 – 67.2],50.5 [34.8 – 67.2],No,200.0,All,240.0,320.0,Yes in some,...,NaN,NaN,NaN,NaN,NaN,0.009610,1.922000,2.306400,3.075200,2018
1,Algeria,11.1 [5.9 – 16.4],14.5 [10.3 – 19.5],18.8 [11.3 – 27.2],No,45.0,DZD,300.0,300.0,Yes in some,...,NaN,NaN,NaN,NaN,NaN,0.007330,0.329850,2.199000,2.199000,2018
2,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],Not applicable,2.8,EUR,3.6,3.6,No,...,NaN,NaN,NaN,NaN,NaN,1.168889,3.272889,4.208000,4.208000,2018
22,Austria,27 [20.8 – 33.1],29.1 [23 – 35.3],29.1 [23 – 35.3],No,4.4,EUR,5.5,5.5,Yes in some,...,NaN,NaN,NaN,NaN,NaN,1.168889,5.143112,6.428890,6.428890,2018
42,Belgium,23.4 [17.2 – 29.4],25 [18.9 – 31.2],25 [18.9 – 31.2],No,5.5,EUR,6.6,6.6,Yes in some,...,NaN,NaN,NaN,NaN,NaN,1.168889,6.428890,7.714667,7.714667,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,Saudi Arabia,18.6 [11.4 – 27.6],12.7 [8.7 – 17.4],2 [1 – 3.4],Not applicable,6.0,SAR,27.5,27.5,Yes in most,...,NaN,NaN,NaN,NaN,NaN,0.266681,1.600086,7.333728,7.333728,2018
580,Serbia,36.2 [27.2 – 45.5],40.6 [31.3 – 50.1],40.6 [31.3 – 50.1],Not applicable,210.0,RSD,250.0,330.0,Yes in some,...,NaN,NaN,NaN,NaN,NaN,0.009941,2.087610,2.485250,3.280530,2018
581,Seychelles,31 [21.6 – 40.7],35.3 [25 – 45.8],35.3 [25 – 45.8],Yes,117.0,SCR,117.0,140.0,No,...,NaN,NaN,NaN,NaN,NaN,0.075113,8.788221,8.788221,10.515820,2018
582,Sierra Leone,29.1 [20.6 – 39],31 [23.4 – 39.9],31 [23.4 – 39.9],Not applicable,2000.0,SLL,5000.0,10000.0,No,...,NaN,NaN,NaN,NaN,NaN,0.000095,0.190000,0.475000,0.950000,2018
583,Singapore,25 [17.6 – 32.3],27.8 [19.5 – 35.3],27.8 [19.5 – 35.3],Not applicable,10.5,SGD,14.1,14.1,Yes in most,...,NaN,NaN,NaN,NaN,NaN,0.736990,7.738395,10.391559,10.391559,2018

In [ ]:
# cigarette=merged_df["CigaretteSmokingPrevalence"].str.split("[", n = 1, expand = True)
# merged_df["CigaretteSmokingPrevalence"]=cigarette

# tobacco=merged_df["TobaccoSmokingPrevalence"].str.split("[", n = 1, expand = True)
# merged_df["TobaccoSmokingPrevalence"]=tobacco

# use=merged_df["TobaccoUsePrevalance"].str.split("[", n = 1, expand = True)
# merged_df["TobaccoUsePrevalance"]=use

# merged_df

In [27]:
#MERGING DATAFRAMES FOR FILES 2-6


merged2_df=pd.merge(file_two_df,rates_df,on="MostSoldBrandCigaretteCurrency")

merged3_df=pd.merge(file_three_df,rates_df,on="MostSoldBrandCigaretteCurrency")

merged4_df=pd.merge(file_four_df,rates_df,on="MostSoldBrandCigaretteCurrency")

merged5_df=pd.merge(file_five_df,rates_df,on="MostSoldBrandCigaretteCurrency")

merged6_df=pd.merge(file_six_df,rates_df,on="MostSoldBrandCigaretteCurrency")

In [28]:
#CLEANING PRICE COLUMNS FILE 2

merged2_df = merged2_df[merged2_df['MostSoldBrandCigarettePrice'] != 'Data not available']
merged2_df = merged2_df[merged2_df['MostSoldBrandCigarettePrice'] != 'Not applicable']
merged2_df['MostSoldBrandCigarettePrice'] = merged2_df['MostSoldBrandCigarettePrice'].replace(',', '')

merged3_df = merged3_df[merged3_df['MostSoldBrandCigarettePrice'] != 'Data not available']
merged3_df = merged3_df[merged3_df['MostSoldBrandCigarettePrice'] != 'Not applicable']
merged3_df['MostSoldBrandCigarettePrice'] = merged3_df['MostSoldBrandCigarettePrice'].replace(',', '')

merged4_df = merged4_df[merged4_df['MostSoldBrandCigarettePrice'] != 'Data not available']
merged4_df = merged4_df[merged4_df['MostSoldBrandCigarettePrice'] != 'Not applicable']
merged4_df['MostSoldBrandCigarettePrice'] = merged4_df['MostSoldBrandCigarettePrice'].replace(',', '')

merged5_df = merged5_df[merged5_df['MostSoldBrandCigarettePrice'] != 'Data not available']
merged5_df = merged5_df[merged5_df['MostSoldBrandCigarettePrice'] != 'Not applicable']
merged5_df['MostSoldBrandCigarettePrice'] = merged5_df['MostSoldBrandCigarettePrice'].replace(',', '')

merged6_df = merged6_df[merged6_df['MostSoldBrandCigarettePrice'] != 'Data not available']
merged6_df = merged6_df[merged3_df['MostSoldBrandCigarettePrice'] != 'Not applicable']
merged6_df['MostSoldBrandCigarettePrice'] = merged6_df['MostSoldBrandCigarettePrice'].replace(',', '')

/Users/ashtonsmith/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [29]:
#TAKING AWAY COMMAS

merged2_df = merged2_df.replace(",","", regex=True)

merged3_df = merged3_df.replace(",","", regex=True)

merged4_df = merged4_df.replace(",","", regex=True)

merged5_df = merged5_df.replace(",","", regex=True)

merged6_df = merged6_df.replace(",","", regex=True)

In [30]:
#CHANGE TYPES TO FLOAT FOR 2-6


merged2_df["MostSoldBrandCigarettePrice"] = merged2_df["MostSoldBrandCigarettePrice"].astype(float)

merged3_df["MostSoldBrandCigarettePrice"] = merged3_df["MostSoldBrandCigarettePrice"].astype(float)

merged4_df["MostSoldBrandCigarettePrice"] = merged4_df["MostSoldBrandCigarettePrice"].astype(float)

merged5_df["MostSoldBrandCigarettePrice"] = merged5_df["MostSoldBrandCigarettePrice"].astype(float)

merged6_df["MostSoldBrandCigarettePrice"] = merged6_df["MostSoldBrandCigarettePrice"].astype(float)

In [31]:

merged2_df["MostSoldUSD"]=merged2_df["MostSoldBrandCigarettePrice"]*merged2_df["rates"]
merged2_df=merged2_df.drop_duplicates(subset=["Location"])
merged2_df.reset_index()
merged2_df["Year"]=2016

merged3_df["MostSoldUSD"]=merged3_df["MostSoldBrandCigarettePrice"]*merged3_df["rates"]
merged3_df=merged3_df.drop_duplicates(subset=["Location"])
merged3_df.reset_index()
merged3_df["Year"]=2014

merged4_df["MostSoldUSD"]=merged4_df["MostSoldBrandCigarettePrice"]*merged4_df["rates"]
merged4_df=merged4_df.drop_duplicates(subset=["Location"])
merged4_df.reset_index()
merged4_df["Year"]=2012

merged5_df["MostSoldUSD"]=merged5_df["MostSoldBrandCigarettePrice"]*merged5_df["rates"]
merged5_df=merged5_df.drop_duplicates(subset=["Location"])
merged5_df.reset_index()
merged5_df["Year"]=2010

merged6_df["MostSoldUSD"]=merged6_df["MostSoldBrandCigarettePrice"]*merged6_df["rates"]
merged6_df=merged6_df.drop_duplicates(subset=["Location"])
merged6_df.reset_index()
merged6_df["Year"]=2008

In [32]:
df1=merged_df[["Year","Location",'CigaretteSmokingPrevalence', 'TobaccoSmokingPrevalence',
       'TobaccoUsePrevalance','MostSoldBrandCigaretteCurrency',
       'MostSoldBrandCigarettePrice','rates','MostSoldUSD']]

df2=merged2_df[["Year","Location",'CigaretteSmokingPrevalence', 'TobaccoSmokingPrevalence',
       'TobaccoUsePrevalance','MostSoldBrandCigaretteCurrency',
       'MostSoldBrandCigarettePrice','rates','MostSoldUSD']]

df3=merged3_df[["Year","Location",'CigaretteSmokingPrevalence', 'TobaccoSmokingPrevalence',
       'TobaccoUsePrevalance','MostSoldBrandCigaretteCurrency',
       'MostSoldBrandCigarettePrice','rates','MostSoldUSD']]

df4=merged4_df[["Year","Location",'CigaretteSmokingPrevalence', 'TobaccoSmokingPrevalence',
       'TobaccoUsePrevalance','MostSoldBrandCigaretteCurrency',
       'MostSoldBrandCigarettePrice','rates','MostSoldUSD']]

df5=merged5_df[["Year","Location",'CigaretteSmokingPrevalence', 'TobaccoSmokingPrevalence',
       'TobaccoUsePrevalance','MostSoldBrandCigaretteCurrency',
       'MostSoldBrandCigarettePrice','rates','MostSoldUSD']]

df6=merged6_df[["Year","Location",'CigaretteSmokingPrevalence', 'TobaccoSmokingPrevalence',
       'TobaccoUsePrevalance','MostSoldBrandCigaretteCurrency',
       'MostSoldBrandCigarettePrice','rates','MostSoldUSD']]

In [33]:
part2 = df2.append(df3)
part2 = part2.append(df4)
part2 = part2.append(df5)
part2 = part2.append(df6)

In [34]:
together= df1.append(part2)
together

,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,2018,Albania,43.3 [31.2 – 59.2],50.5 [34.8 – 67.2],50.5 [34.8 – 67.2],All,240.0,0.009610,2.306400
1,2018,Algeria,11.1 [5.9 – 16.4],14.5 [10.3 – 19.5],18.8 [11.3 – 27.2],DZD,300.0,0.007330,2.199000
2,2018,Andorra,27.7 [14.6 – 40.8],33.8 [22 – 47.2],33.8 [22 – 47.2],EUR,3.6,1.168889,4.208000
22,2018,Austria,27 [20.8 – 33.1],29.1 [23 – 35.3],29.1 [23 – 35.3],EUR,5.5,1.168889,6.428890
42,2018,Belgium,23.4 [17.2 – 29.4],25 [18.9 – 31.2],25 [18.9 – 31.2],EUR,6.6,1.168889,7.714667
...,...,...,...,...,...,...,...,...,...
505,2008,Saudi Arabia,2.1 [1.3 – 3],2.9 [2 – 3.8],3.3 [1.9 – 4.8],SAR,6.0,0.266681,1.600086
506,2008,Serbia,38.8 [29.6 – 48.2],43.6 [35.6 – 52.1],43.6 [35.6 – 52.1],RSD,70.0,0.009941,0.695870
507,2008,Seychelles,34.1 [25.6 – 42.5],38.8 [29.3 – 47.4],39.5 [29.7 – 48.8],SCR,66.0,0.075113,4.957458
508,2008,Sierra Leone,36.6 [27.8 – 45.9],28.6 [22.8 – 35.4],28.6 [22.8 – 35.4],SLL,1600.0,0.000095,0.152000
509,2008,Singapore,24.6 [20 – 29.7],27.5 [23 – 32.9],27.5 [23 – 32.9],SGD,11.6,0.736990,8.549084

In [35]:
cigarette=together["CigaretteSmokingPrevalence"].str.split("[", n = 1, expand = True)
together["CigaretteSmokingPrevalence"]=cigarette

tobacco=together["TobaccoSmokingPrevalence"].str.split("[", n = 1, expand = True)
together["TobaccoSmokingPrevalence"]=tobacco

use=together["TobaccoUsePrevalance"].str.split("[", n = 1, expand = True)
together["TobaccoUsePrevalance"]=use

together

,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,2018,Albania,43.3,50.5,50.5,All,240.0,0.009610,2.306400
1,2018,Algeria,11.1,14.5,18.8,DZD,300.0,0.007330,2.199000
2,2018,Andorra,27.7,33.8,33.8,EUR,3.6,1.168889,4.208000
22,2018,Austria,27,29.1,29.1,EUR,5.5,1.168889,6.428890
42,2018,Belgium,23.4,25,25,EUR,6.6,1.168889,7.714667
...,...,...,...,...,...,...,...,...,...
505,2008,Saudi Arabia,2.1,2.9,3.3,SAR,6.0,0.266681,1.600086
506,2008,Serbia,38.8,43.6,43.6,RSD,70.0,0.009941,0.695870
507,2008,Seychelles,34.1,38.8,39.5,SCR,66.0,0.075113,4.957458
508,2008,Sierra Leone,36.6,28.6,28.6,SLL,1600.0,0.000095,0.152000
509,2008,Singapore,24.6,27.5,27.5,SGD,11.6,0.736990,8.549084

In [36]:
together=together.reset_index()

,index,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,0,2018,Albania,43.3,50.5,50.5,All,240.0,0.009610,2.306400
1,1,2018,Algeria,11.1,14.5,18.8,DZD,300.0,0.007330,2.199000
2,2,2018,Andorra,27.7,33.8,33.8,EUR,3.6,1.168889,4.208000
3,22,2018,Austria,27,29.1,29.1,EUR,5.5,1.168889,6.428890
4,42,2018,Belgium,23.4,25,25,EUR,6.6,1.168889,7.714667
...,...,...,...,...,...,...,...,...,...,...
685,505,2008,Saudi Arabia,2.1,2.9,3.3,SAR,6.0,0.266681,1.600086
686,506,2008,Serbia,38.8,43.6,43.6,RSD,70.0,0.009941,0.695870
687,507,2008,Seychelles,34.1,38.8,39.5,SCR,66.0,0.075113,4.957458
688,508,2008,Sierra Leone,36.6,28.6,28.6,SLL,1600.0,0.000095,0.152000
689,509,2008,Singapore,24.6,27.5,27.5,SGD,11.6,0.736990,8.549084

In [37]:
together=together.drop(columns={"index"})
together

,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,2018,Albania,43.3,50.5,50.5,All,240.0,0.009610,2.306400
1,2018,Algeria,11.1,14.5,18.8,DZD,300.0,0.007330,2.199000
2,2018,Andorra,27.7,33.8,33.8,EUR,3.6,1.168889,4.208000
3,2018,Austria,27,29.1,29.1,EUR,5.5,1.168889,6.428890
4,2018,Belgium,23.4,25,25,EUR,6.6,1.168889,7.714667
...,...,...,...,...,...,...,...,...,...
685,2008,Saudi Arabia,2.1,2.9,3.3,SAR,6.0,0.266681,1.600086
686,2008,Serbia,38.8,43.6,43.6,RSD,70.0,0.009941,0.695870
687,2008,Seychelles,34.1,38.8,39.5,SCR,66.0,0.075113,4.957458
688,2008,Sierra Leone,36.6,28.6,28.6,SLL,1600.0,0.000095,0.152000
689,2008,Singapore,24.6,27.5,27.5,SGD,11.6,0.736990,8.549084

In [40]:

together["CigaretteSmokingPrevalence"] = together["CigaretteSmokingPrevalence"].astype(float)

together["TobaccoSmokingPrevalence"] = together["TobaccoSmokingPrevalence"].astype(float)

together["TobaccoUsePrevalance"] = together["TobaccoUsePrevalance"].astype(float)

together.dtypes

Year                                int64
Location                           object
CigaretteSmokingPrevalence        float64
TobaccoSmokingPrevalence          float64
TobaccoUsePrevalance              float64
MostSoldBrandCigaretteCurrency     object
MostSoldBrandCigarettePrice       float64
rates                             float64
MostSoldUSD                       float64
dtype: object

In [41]:
together.to_csv("CigaretteData.csv", index=True, header=True)