In [1]:
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import key
gmaps.configure(api_key=key)

In [2]:
#read in csv of cleaned data
data = pd.read_csv("Team-10/CigaretteData.csv")
data

,Unnamed: 0,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,0,2018,Albania,43.3,50.5,50.5,All,240.0,0.009610,2.306400
1,1,2018,Algeria,11.1,14.5,18.8,DZD,300.0,0.007330,2.199000
2,2,2018,Andorra,27.7,33.8,33.8,EUR,3.6,1.168889,4.208000
3,3,2018,Austria,27.0,29.1,29.1,EUR,5.5,1.168889,6.428889
4,4,2018,Belgium,23.4,25.0,25.0,EUR,6.6,1.168889,7.714667
...,...,...,...,...,...,...,...,...,...,...
685,685,2008,Saudi Arabia,2.1,2.9,3.3,SAR,6.0,0.266681,1.600086
686,686,2008,Serbia,38.8,43.6,43.6,RSD,70.0,0.009941,0.695870
687,687,2008,Seychelles,34.1,38.8,39.5,SCR,66.0,0.075113,4.957458
688,688,2008,Sierra Leone,36.6,28.6,28.6,SLL,1600.0,0.000095,0.152000
689,689,2008,Singapore,24.6,27.5,27.5,SGD,11.6,0.736990,8.549084

In [3]:
#get unique list of countries

countries = data["Location"].unique()
countries

array(['Albania', 'Algeria', 'Andorra', 'Austria', 'Belgium', 'Cyprus',
       'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Ireland',
       'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
       'Netherlands', 'Portugal', 'Slovakia', 'Slovenia', 'Spain',
       'Argentina', 'Armenia', 'Australia', 'Kiribati', 'Nauru', 'Tuvalu',
       'Azerbaijan', 'Bangladesh', 'Barbados', 'Belarus', 'Benin',
       'Burkina Faso', 'CÃ´te dâ€™Ivoire', 'Mali', 'Niger', 'Senegal',
       'Togo', 'Bosnia and Herzegovina', 'Brazil', 'Cambodia', 'Chad',
       'Congo', 'Canada', 'Chile', 'China', 'Colombia', 'Comoros',
       'Cook Islands', 'New Zealand', 'Costa Rica', 'Croatia', 'Cuba',
       'Czechia', "Democratic People's Republic of Korea", 'Denmark',
       'Dominican Republic', 'Egypt', 'El Salvador', 'Palau', 'Zimbabwe',
       'Fiji', 'Gambia', 'Georgia', 'Ghana', 'Guyana', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Israel',
       'Jamaica', 'Japan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Lebanon', 'Madagascar',
       'Mauritius', 'Mexico', 'Mongolia', 'Morocco', 'Mozambique',
       'Namibia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Botswana', 'Burundi',
       'Cameroon', 'Timor-Leste', 'United States of America', 'Eritrea',
       'Eswatini', 'Ethiopia', 'Kenya', 'Liberia', 'Myanmar', 'Nepal',
       'Nigeria', 'Lesotho'], dtype=object)

In [17]:
#send list through api to get lat/lng
lats=[]
lngs=[]
count = 0
country_count=len(countries)
for country in countries:
    url = f"https://maps.googleapis.com/maps/api/geocode/json?components=country:{country}&key={key}"
    geo_data = requests.get(url).json()   
    try:
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]
        lats.append(lat)
        lngs.append(lng)
        count = count+1
        print(f"{count}Searching City: {country}")
    except IndexError:
        lat = "Skipped"
        lng = "Skipped"
        lats.append(lat)
        lngs.append(lng)
        count = count+1
        print("City not found")

1Searching City: Albania
2Searching City: Algeria
3Searching City: Andorra
4Searching City: Austria
5Searching City: Belgium
6Searching City: Cyprus
7Searching City: Estonia
8Searching City: Finland
9Searching City: France
10Searching City: Germany
11Searching City: Greece
12Searching City: Ireland
13Searching City: Italy
14Searching City: Latvia
15Searching City: Lithuania
16Searching City: Luxembourg
17Searching City: Malta
18Searching City: Netherlands
19Searching City: Portugal
20Searching City: Slovakia
21Searching City: Slovenia
22Searching City: Spain
23Searching City: Argentina
24Searching City: Armenia
25Searching City: Australia
26Searching City: Kiribati
27Searching City: Nauru
28Searching City: Tuvalu
29Searching City: Azerbaijan
30Searching City: Bangladesh
31Searching City: Barbados
32Searching City: Belarus
33Searching City: Benin
34Searching City: Burkina Faso
35Searching City: CÃ´te dâ€™Ivoire
36Searching City: Mali
37Searching City: Niger
38Searching City: Senegal
39Searching City: Togo
40Searching City: Bosnia and Herzegovina
41Searching City: Brazil
42Searching City: Cambodia
43Searching City: Chad
City not found
45Searching City: Canada
46Searching City: Chile
47Searching City: China
48Searching City: Colombia
49Searching City: Comoros
50Searching City: Cook Islands
51Searching City: New Zealand
52Searching City: Costa Rica
53Searching City: Croatia
54Searching City: Cuba
55Searching City: Czechia
City not found
57Searching City: Denmark
58Searching City: Dominican Republic
59Searching City: Egypt
60Searching City: El Salvador
61Searching City: Palau
62Searching City: Zimbabwe
63Searching City: Fiji
City not found
City not found
66Searching City: Ghana
67Searching City: Guyana
68Searching City: Iceland
69Searching City: India
70Searching City: Indonesia
City not found
72Searching City: Iraq
73Searching City: Israel
74Searching City: Jamaica
75Searching City: Japan
76Searching City: Kazakhstan
77Searching City: Kuwait
78Searching City: Kyrgyzstan
City not found
80Searching City: Lebanon
81Searching City: Madagascar
82Searching City: Mauritius
83Searching City: Mexico
84Searching City: Mongolia
85Searching City: Morocco
86Searching City: Mozambique
87Searching City: Namibia
88Searching City: Norway
89Searching City: Oman
90Searching City: Pakistan
91Searching City: Panama
92Searching City: Paraguay
93Searching City: Peru
94Searching City: Philippines
95Searching City: Poland
96Searching City: Qatar
City not found
City not found
99Searching City: Romania
City not found
101Searching City: Rwanda
102Searching City: Samoa
City not found
104Searching City: Saudi Arabia
105Searching City: Serbia
106Searching City: Seychelles
107Searching City: Sierra Leone
108Searching City: Singapore
109Searching City: Botswana
110Searching City: Burundi
111Searching City: Cameroon
112Searching City: Timor-Leste
City not found
114Searching City: Eritrea
115Searching City: Eswatini
116Searching City: Ethiopia
117Searching City: Kenya
118Searching City: Liberia
City not found
120Searching City: Nepal
121Searching City: Nigeria
122Searching City: Lesotho

In [18]:
lats

[41.153332,
 28.033886,
 42.506285,
 47.516231,
 50.503887,
 35.126413,
 58.595272,
 61.92410999999999,
 46.227638,
 51.165691,
 39.074208,
 53.41291,
 41.87194,
 56.879635,
 55.169438,
 49.815273,
 35.937496,
 52.132633,
 39.39987199999999,
 48.669026,
 46.151241,
 40.46366700000001,
 -38.416097,
 40.069099,
 -25.274398,
 -3.370417,
 -0.522778,
 -7.109534999999999,
 40.143105,
 23.684994,
 13.193887,
 53.709807,
 9.30769,
 12.238333,
 7.539988999999999,
 17.570692,
 17.607789,
 14.497401,
 8.619543,
 43.915886,
 -14.235004,
 12.565679,
 15.454166,
 'Skipped',
 56.130366,
 -35.675147,
 35.86166,
 4.570868,
 -11.6455,
 -21.236736,
 -40.900557,
 9.748916999999999,
 45.1,
 21.521757,
 49.81749199999999,
 'Skipped',
 56.26392,
 18.735693,
 26.820553,
 13.794185,
 7.514979999999999,
 -19.015438,
 -17.713371,
 'Skipped',
 'Skipped',
 7.946527,
 4.860416,
 64.963051,
 20.593684,
 -0.789275,
 'Skipped',
 33.223191,
 31.046051,
 18.109581,
 36.204824,
 48.019573,
 29.31166,
 41.20438,
 'Skipped',
 33.854721,
 -18.766947,
 -20.348404,
 23.634501,
 46.862496,
 31.791702,
 -18.665695,
 -22.95764,
 60.47202399999999,
 21.4735329,
 30.375321,
 8.537981,
 -23.442503,
 -9.189967,
 12.879721,
 51.919438,
 25.354826,
 'Skipped',
 'Skipped',
 45.943161,
 'Skipped',
 -1.940278,
 -13.759029,
 'Skipped',
 23.885942,
 44.016521,
 -4.679574,
 8.460555,
 1.352083,
 -22.328474,
 -3.373056,
 7.369721999999999,
 -8.874217,
 'Skipped',
 15.179384,
 -26.522503,
 9.145000000000001,
 -0.023559,
 6.428055,
 'Skipped',
 28.394857,
 9.081999,
 -29.609988]

In [19]:
lngs

[20.168331,
 1.659626,
 1.521801,
 14.550072,
 4.469936,
 33.429859,
 25.0136071,
 25.7481511,
 2.213749,
 10.451526,
 21.824312,
 -8.24389,
 12.56738,
 24.603189,
 23.881275,
 6.129582999999999,
 14.375416,
 5.291265999999999,
 -8.224454,
 19.699024,
 14.995463,
 -3.74922,
 -63.61667199999999,
 45.038189,
 133.775136,
 -168.734039,
 166.931503,
 177.64933,
 47.576927,
 90.356331,
 -59.543198,
 27.953389,
 2.315834,
 -1.561593,
 -5.547079999999999,
 -3.996166,
 8.081666,
 -14.452362,
 0.824782,
 17.679076,
 -51.92528,
 104.990963,
 18.732207,
 'Skipped',
 -106.346771,
 -71.542969,
 104.195397,
 -74.297333,
 43.3333,
 -159.777671,
 174.885971,
 -83.753428,
 15.2000001,
 -77.781167,
 15.472962,
 'Skipped',
 9.501785,
 -70.162651,
 30.802498,
 -88.89653,
 134.58252,
 29.154857,
 178.065032,
 'Skipped',
 'Skipped',
 -1.023194,
 -58.93018,
 -19.020835,
 78.96288,
 113.921327,
 'Skipped',
 43.679291,
 34.851612,
 -77.297508,
 138.252924,
 66.923684,
 47.481766,
 74.766098,
 'Skipped',
 35.862285,
 46.869107,
 57.55215200000001,
 -102.552784,
 103.846656,
 -7.092619999999999,
 35.529562,
 18.49041,
 8.468945999999999,
 55.975413,
 69.34511599999999,
 -80.782127,
 -58.443832,
 -75.015152,
 121.774017,
 19.145136,
 51.183884,
 'Skipped',
 'Skipped',
 24.96676,
 'Skipped',
 29.873888,
 -172.104629,
 'Skipped',
 45.079162,
 21.005859,
 55.491977,
 -11.779889,
 103.819836,
 24.684866,
 29.918886,
 12.354722,
 125.727539,
 'Skipped',
 39.782334,
 31.465866,
 40.489673,
 37.906193,
 -9.429499000000002,
 'Skipped',
 84.12400799999999,
 8.675277,
 28.233608]

In [20]:
#set countries, lats, and lngs to dataframe
dataframe = pd.DataFrame({"Location":countries,"Lat":lats,"Lng":lngs})
dataframe

    Location      Lat      Lng
0    Albania  41.1533  20.1683
1    Algeria  28.0339  1.65963
2    Andorra  42.5063   1.5218
3    Austria  47.5162  14.5501
4    Belgium  50.5039  4.46994
..       ...      ...      ...
117  Liberia  6.42805  -9.4295
118  Myanmar  Skipped  Skipped
119    Nepal  28.3949   84.124
120  Nigeria    9.082  8.67528
121  Lesotho   -29.61  28.2336

[122 rows x 3 columns]

In [33]:
#manually set lat and long for countries that failed in the api

#congo
dataframe.iloc[43,1] = 21.7587
dataframe.iloc[43,2] = -4.0383

#north korea
dataframe.iloc[55,1] = 127.5101
dataframe.iloc[55,2] = 40.3399

#Gambia
dataframe.iloc[63,1] = -15.3101
dataframe.iloc[63,2] = 13.4432

# georgia
dataframe.iloc[64,1] = 43.3569
dataframe.iloc[64,2] = 42.3154

# iran
dataframe.iloc[70,1] = 53.6880
dataframe.iloc[70,2] = 32.4279

# lao
dataframe.iloc[78,1] = 102.4955
dataframe.iloc[78,2] = 19.8563

# South Korea
dataframe.iloc[96,1] = 127.7669
dataframe.iloc[96,2] = 35.9078

# moldova
dataframe.iloc[97,1] = 28.3699
dataframe.iloc[97,2] = 47.4116

# russia
dataframe.iloc[99,1] = 105.3188
dataframe.iloc[99,2] = 61.5240

# sao
dataframe.iloc[102,1] = 6.6131
dataframe.iloc[102,2] = 0.1864

# usa
dataframe.iloc[112,1] = -95.7129
dataframe.iloc[112,2] = 37.0902

# myanmar
dataframe.iloc[118,1] = 95.9560
dataframe.iloc[118,2] = 21.9162

In [34]:
#check for countries that don't have lat/lng
check = dataframe.loc[dataframe["Lat"]=="Skipped"]
check

Empty DataFrame
Columns: [Location, Lat, Lng]
Index: []

In [36]:
#set type to float
dataframe["Lat"]=dataframe["Lat"].astype(float)
dataframe["Lng"]=dataframe["Lng"].astype(float)
dataframe.dtypes

Location     object
Lat         float64
Lng         float64
dtype: object

In [37]:
#export as csv
dataframe.to_csv("LatLng.csv", index=False, header=True)